<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ConnStr" value="Data Source=ARNAB-PC;DataBase=AuctionBidPlatform;Integrated Security=True;Max Pool Size=500;"/>
    <!--<add key="ConnStr" value="Data Source=BRANDOITTE-PC;DataBase=AuctionBidPlatform;Integrated Security=True;Max Pool Size=500;"/>-->
    <!--<add key="ConnStr" value="Data Source=KAUSTAV-PC;DataBase=AuctionBidPlatform;User ID=sa;pwd=sa@123;Max Pool Size=500;"/>-->
    <!--<add key="ConnStr" value="Data Source=citius-solvitur.database.windows.net;DataBase=AuctionBidPlatform;User ID=Citius-Solvitur;pwd=C1t1u550lv1tur;Max Pool Size=500;"/>-->
    <add key="AdminEmailID" value="stsservices16@gmail.com"/>
    <add key="AdminEmailIDPassword" value="@123456#"/>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    
  </appSettings>
  <connectionStrings>
    
  </connectionStrings>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet"></add>
        <add name="HttpPost"></add>
      </protocols>
    </webServices>

    <authentication mode="Windows"/>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>-->

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
     <defaultDocument enabled="true">
      <files>
        <add value="~/Account/Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
