/* this is for global css */
*{margin: 0;padding: 0;}
body{font-size: :14px;font-weight: normal;font-family: 'Open Sans', sans-serif;color:#565656;background:url(../images/bg.jpg);}
::selection{background: #d6071b;color: #fff;text-shadow: none;}
::-moz-selection{background: #ffb63a;color: #fff;text-shadow: none;}
section{padding-bottom: 30px;}
h1, h2{font-weight: 100;}
.form-control{border-radius: 0px ;}
.btn-danger{border-radius: 0px;}
#manu-navbar, #top-navbar{padding-left:0px;}
.top-nvber{margin-bottom: 0px;border: 0px solid transparent;background-color: #fff;border-color:#fff;}
.top-nvber .navbar-brand{min-height:60px;padding:20px 12px;}
#top-navbar .navbar-nav{padding:12px 0;}
.navbar-main-mnu{background-color: #247ab1;border-radius: 0px;margin-bottom: 0px; border:none}
.navbar-nav-main-mnu li a{color:#fff !important;}
.navbar-nav-main-mnu li:first-child a{padding-left: 0px;}
.navbar-nav-main-mnu li a:hover{color:#fff !important;}
.form-src{position: relative;}
.form-src a i{position: absolute;top:20px;right: 10px;color:#000;}
.brws-pic-mnu{text-align: center;margin-bottom: 0px;}
.tp-nv-spce a{border:1px solid #a4a4a4;padding-top: 10px !important;padding-bottom: 10px !important;margin-top: 5px !important;margin-right: 5px;border-radius: 4px;}
.tp-nv-spec-fst a{color:#f46c62 !important;}
.tp-nv-spec-lst a{color:#008c50 !important;}
.navbar-frm-src{margin-top: 0px;margin-bottom: 0px;padding:0px;}
.navbar-frm-src input{border-radius: 0px;border: 1px solid #f6f6f6;padding:0 115px 0 21px;background-color: #f6f6f6;}
.frm-src-input{min-height: 50px;}
.browse-category{background-color: #fcfcfc;padding: 15px 0;-webkit-box-shadow: 0px 3px 5px 0px rgba(171,171,171,0.3);
-moz-box-shadow: 0px 3px 5px 0px rgba(171,171,171,0.3);
box-shadow: 0px 3px 5px 0px rgba(171,171,171,0.3)}
.browse-category .alt-text-show{text-transform: uppercase;}
.header-section{padding-bottom: 0px;}
.slider-section{background-color: #f6f6f6;padding: 30px 0;border-top:1px solid #eee;}
.watch-sl-sec{position: relative;}
.watch-caption{position: absolute;bottom: 20px;left: 4%;}
.main-slider{margin-bottom: 10px;}
.main-slider-caption{background-color: rgba(0,0,0,.5);padding:0 15px;left:7%;right: 42%;text-align: left;text-transform: uppercase;}
.main-slider-caption p{color:#ffa800;font-size: 20px;font-weight: 100;}
.main-slider-caption h2{color:#fff;}
.slider-sd-portion{position: relative;margin-bottom: 15px;}
.slider-sd-portion img{width: 100%;}
.sldr-sd-caption{position: absolute;bottom: 0;left: 12px;text-transform: uppercase;}
.sldr-sd-caption h3{color:#fff;}
.sldr-sd-caption p{color:#ffa800;}
.item-carousel-sec{background-color: #fff;}
.item-sector{margin-bottom: 20px;overflow: auto;}
.item-sec-title h1{margin-top: 0px;font-weight: 100;}
.today-item-section{padding-top: 22px;}
.item-sec-view{padding-top: 5px;}
.btn-item-vew{color:#f46c62;}
.btn-item-vew:hover{color:#f46c62;}

.action-item-sec {background-color: #fff;border: 1px solid #ebebeb;margin-bottom: 20px; min-height: 410px;padding: 95px 30px 25px;position: relative;}
.action-item-sec img{max-height: 150px;padding-bottom: 20px;width: 100%;}
.action-item-sec p{color: #000;height: 80px;overflow: hidden;padding-bottom: 20px;}
.action-item-sec a{text-transform: uppercase;}
.action-timing-sec{position: absolute;background: url(../images/item-time-live.png) no-repeat;top: 15px;left: 0;min-width: 145px;background-size:125px 30px;}
.action-timing-sec p{text-align: left;padding:3px 0px 0px 10px;text-transform: uppercase;color: #fff;font-size: 16px;}

.action-item-del-sec{position: relative;border: 1px solid #ebebeb;padding: 17px;margin-bottom: 20px;min-height: 380px;background-color: #fff;}
.deal-pic{border: 1px solid #ddd;min-height: 140px;text-align: center;padding:0 8%;}
.deal-pic img{min-width: 260px;max-width: 260px;min-height: 210px;max-height: 210px;}
.time-button{overflow: auto;}
.time-button a{text-transform: uppercase;}
.time-button p{color:#008c50;margin: 10% 0;}
.deal-pic-caption-title p{padding: 20px 0;color:#818181;text-align: center;}
.deal-pic-caption-title p:after{content:"";width: 96%;height:1px;background-color: #d5d5d5;display: block;margin-top: 4%;margin-left: 2%;}

.item img{border:1px solid #c0c0c0;}
.footer-widget-lst li{}
.footer-widget-lst li a{text-decoration: none;font-size: 14px;color:#000;line-height: 28px;}
.accept-sec{margin-bottom: 15px;}
.accept-sec h4{margin-bottom: 20px;}
.footer-social-sec i{font-size: 20px;color:#000;}
.footer-widget-item-sec h4{text-transform: uppercase;}
.footer-widget-sec{border-top: 1px solid #dddddd;border-bottom: 1px solid #dddddd;padding-top: 30px;background-color: #f1f1f1;}
.footer-sec{padding-top: 30px;padding-bottom: 60px;background-color: #fff;}
.login-form-sec{padding-bottom: 0px;}
.sp-cr-inn{max-height:201px;}










/*the item carousel css*/ 

.item-carousel-title h2{text-transform: uppercase;color:#000;margin-bottom: 50px;}
.carousel-control{ width:  4%; }
.carousel-control.left{margin-left:-36px;background-image:none;margin-top: 8%;}
.carousel-control.right{margin-right:-15px !important;background-image:none;margin-top: 8%;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.item img{width: 100%;}
	.carousel-control.left{margin-top: 50%;margin-left:-15px;}
	.carousel-control.right{margin-top: 50%;margin-right:0px !important;}

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{margin-right:-5px !important;}
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
}
@media only screen and (max-width: 786px) {
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{margin-right: 5px;}
}


/*start of  login modal sec */
.citius-modal-content{padding:2% 8%;background-color: #f7f7f7;color:#333;border-radius: 0px;}
.citius-modal-title{text-transform: uppercase;color:#333;font-weight: 100;}
.citius-modal-content a{color:#333;text-decoration: none;}
.btn-custom-login{padding:1% 18%;background-color: #666666;color:#fff;border-radius: 0px;border-color: #666666;}
.btn-custom-login:hover{background-color: #666666;color:#fff;border-color: #666666;}
.btn-custom-login:focus{background-color: #666666;color:#fff;}
.dont-account{padding:10px 0;}
.dont-account li{padding-right: 20%;}
.dont-account li:last-child{padding-right: 0px;}
.citius-modal-header, .citius-modal-body, .citius-modal-footer{padding:15px 25px;border-bottom:none;border-top:none;}
.citius-close{color:#333;}
.citius-modal-header h4:after{display: block;width:100%;height:1px;background-color:#666666;content:"";margin-bottom: 20px;margin-top:10px;}
.forget-password a:after{display: block;width:100%;height:1px;background-color:#666666;content:"";margin-bottom: 0px;margin-top:25px;}
.citis-form-password{position: relative;}
.citis-form-password i{position: absolute;right: 6px;top: 35px;color: #666666;}


/*end of login modal sec */



/*start of breadcumbs-area-sec */
.breadcumbs-area-sec{border-bottom: 1px solid #d6d3d3;margin-bottom: 30px;padding-bottom: 23px;}
.breadcumb{padding-top: 23px;}
.breadcumb .incative{color:#247ab1;text-decoration: none;}
/*start of breadcumbs-area-sec */

.sadow{-webkit-box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3);-moz-box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3);box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3)}



/*start of creat account page*/
.creat-account-sec{padding-bottom: 70px;}
.cr-accnt{background-color: #fff;overflow: auto;padding:30px; margin-bottom:30px;-webkit-box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3);-moz-box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3);box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3)}





.why-ct-icon{width:25px;height: 25px;border:1px solid #565656;border-radius: 50%;margin-right: 5px;}
.why-ct-icon p{padding: 2px;}
.why-ct-txt{display: table-cell;}
.account-creat-title h2{font-weight: 100;color:#515151;}
.account-creat-title h2:after{content:"";display: block;width:100%;height: 1px;background-color: #eaeaea;margin-bottom: 50px;margin-top: 25px;}
.check-top-para{color:#247ab1;}
.crt-ac-ck a{color:#11aaff;}
.crt-acnt-frm .form-group label{font-weight: 100;font-size: px;}
/*start of creat account page*/

/*start of my account page */
.my-account-sec{padding-bottom: 43px;}
.tp-maccount a{border:none;}
.accrodian-section{background-color: #fff;padding:10px 25px 25px 25px;margin-bottom: 23px;-webkit-box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3);-moz-box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3);box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3)}
.accrodian-section li{position: relative;list-style: none;}

.accrodian-section li a i{position: absolute;right:0;top: 0;font-size: 30px;color: #a9a9a9;border: 1px solid #dddddd;padding: 5px 10px;}
.account-frm-p{font-size: 9px;}
.accrodian-sec-item{margin:4% 0 7% 0;}
.special-caret{position: relative;}
.special-caret span{position: absolute;right:6%;top:50%;cursor: pointer;}
/*.btn-account-submit{padding:10px 80px;}
*/
.btn-crd-ss{border-radius: 0px;padding: 10px 25px;}
.cr-card-frm-sec{width:55%;margin-left: 9%;}
.card-pic{margin-top:23px;}
.card-btn button{margin-bottom: 10px;}




/*end of my account page*/


/*start of bid page */
.bid-title-sec{padding-bottom: 0px;}
.bid-details{background-color: #fff;overflow: auto;padding:25px 30px;margin-bottom:25px;}
.name-content h1{margin-bottom: 0px;font-weight: 400;}
.name-content h2{margin-top: 0px;}
.bid-title-sec-lft{margin-right: 10px;}
.bid-title-sec{display: table-cell;}
 
.bidder-name{color:#247ab1;}
.bid-title h2{font-weight: 400;}
.bid-pic img{width:100%;}
.bid-socail-feedback{margin:15px 0;}
.bid-buy:after, .bid-socail-feedback:after{content:"";display: block;width:100%;height: 1px;background-color: #b8b9ba;margin-bottom: 30px;margin-top: 25px;}
.bid-buy-name a{text-decoration: underline;color:#606060;}
.bid-buy-name a:hover{text-decoration: underline;color:#606060;}
.bidding-sideber-sec{padding: 35px 25px 23px;background-color: #fff;}
.bidding-time span{color:#f46c62;}
.bidding-time{font-size: 12px;}
.bidder-estimate-bottom:after, .bidding-time:after{content:"";display: block;width:100%;height: 1px;background-color: #b8b9ba;margin-bottom: 30px;margin-top: 25px;}
.bidder-estimate-bottom p{margin-bottom: 0px;}
.bidding-sing-btn{border-radius: 2px;}
.bidding-sideber-item h4{font-size:16px;margin-bottom: 25px;}
.view-all-item a:before{display: block;width:100%;height:1px;background-color:#a1a3a4;content:"";margin-bottom: 21px;margin-top:0px;}
.bid-popup-sector{padding-bottom: 0px;}
.bid-model-header{border-bottom: none;}
.bid-model-content{background-color: #F5F5F5;}
.bid-model-dialog{width: 1024px;}
.bid-popup-pic{text-align: center;}
.bid-popup-pic img{max-width: 150px;}
.bid-alate{padding:5px 8px;border:1px solid #eee;}
.log-lft{float: left;}
.audio-pop{margin-top: 8px;margin-bottom: 0px;}
.pop-footer-rht{display: table-cell;}
.pop-footer-rht{border-left:1px solid #eee;padding-left: 15px;}
.pop-footer-lft h3{margin-top: 0px;}
.pop-footer-lft{margin-right: 15px;}
.log-lft .rt-direct{direction: rtl;}
.pop-ico{text-align: center;}
.pop-tble{max-height: 300px;}
.cr-accnt .clck-txt{margin-bottom: 0px;font-size: 10px;}
.pop-cr-accnt{margin-bottom: 10px;padding:10px;}


/*end of bid page */

/*start of item page*/


/* skin.css Style*/
.upload-drop-zone {color: #ccc;border-style: dashed;border-color: #ccc;line-height: 100px;text-align: center;border-width: 2px;margin-bottom: 20px;}
.upload-drop-zone.drop {color: #222;border-color: #222;}



/*end of item page*/


/*start of calender item*/
.calender-bg{background:#247ab1; margin-top:-30px; padding:30px 0px}
.calender-item-pic img{max-width:200px;}
.calender-rt-content{display: table-cell;}
.clander-sidebar h3{margin-bottom: 26px;}
.calender-item-pic{margin-right: 12px;}
.clder-lst-item-sec{background-color: #fff;padding:5px;}
.clder-lst-item-sec li{list-style: none; margin-bottom:5px}
.clder-lst-item-sec li a{text-decoration: none;}
.calender-vw-alitem a{padding:5px;}
.calender-sideber{margin-top:27%;}
.calender-box{background-color: #fff;overflow: auto;padding:20px; margin-bottom:20px;-webkit-box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3);-moz-box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3);box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3); text-align:center;}

.calender-box h3{font-size:16px; text-transform:uppercase; color:#247ab1}
.calender-box h2{ font-weight:800; color: #666}
.cl-content-dt p{margin-top: 25px;}
.clander-pagination{margin: 0px;}
.clander-pagination li a{background-color: transparent;}
.clander-pagination-sc{padding:15px 15px 10px 15px;}
/*end of calender item*/




/* this is for custom css */

/*this is for max width 1500px */
@media only screen and (max-width: 1500px) {

}

/*this is for max width 1350px */
@media only screen and (max-width: 1380px) {

}

@media (max-width: 1200px) {
.action-item-del-sec{min-height: 390px;}


}

@media (max-width: 1024px) {
.action-item-del-sec{min-height: 1024px;}
.cr-card-frm-sec{width:68%;}
.cr-card-frm-sec{margin-left: 0%;}
.bid-model-dialog{width: 600px;}

}

/*this is for max width 786px */
@media only screen and (max-width: 786px) {
.main-slider-caption{right:35%;}
.navbar-frm-src input{padding:0 27px 0 21px;}
.cr-accnt{padding-right: 0px;}
.card-pic{margin-top:23px;}
.cr-card-frm-sec{width:90%;}
.card-btn button{min-width: 49%;max-width: 100%;}
}

/*this is for max width 786px */
@media only screen and (max-width: 786px) {
.card-btn button{min-width: 49%;max-width: 100%;}
}

/*this is for max width 500px */
@media only screen and (max-width: 500px) {
.main-slider-caption{right:18%;}
.main-slider-caption h2{font-size: 11px;}
.deal-pic img{min-width: 1px;max-width: 100%;min-height: 1px;max-height: 100%}

}

/*this is for max width 500px */
@media only screen and (max-width: 500px) {
.card-btn button{min-width: 100%;max-width: 100%;}

}

/*this is for max width 240px */
@media only screen and (max-width: 240px) {
.action-item-sec a{font-size:11px;}
.main-slider-caption{right:5%;}
.main-slider-caption h2{font-size: 7px;}
.main-slider-caption p{font-size: 7px;}
.btn-account-submit{padding:10px 33%;}
}