/* this is for global css */
*{margin: 0;padding: 0;}
body{font-size: :14px;font-weight: normal;font-family: 'Open Sans', sans-serif;color:#565656;background:url(../images/bg.jpg);}
::selection{background: #d6071b;color: #fff;text-shadow: none;}
::-moz-selection{background: #ffb63a;color: #fff;text-shadow: none;}
section{padding-bottom: 30px;}
h1, h2{font-weight: 100;}
p{line-height: 2;}
.form-control{border-radius: 0px ;}
.btn-danger{border-radius: 0px;}
#manu-navbar, #top-navbar{padding-left:0px;}
.top-nvber{margin-bottom: 0px;border: 0px solid transparent;background-color: #fff;border-color:#fff;}
.top-nvber .navbar-brand{min-height:60px;padding:20px 12px;}
#top-navbar .navbar-nav{padding:12px 0;}
.navbar-main-mnu{background-color: #247ab1;border-radius: 0px;margin-bottom: 0px; border:none}
.navbar-nav-main-mnu li a{color:#fff !important;}
.navbar-nav-main-mnu li:first-child a{padding-left: 0px;}
.navbar-nav-main-mnu li a:hover{color:#fff !important;}
.form-src{position: relative;}
.form-src a i{position: absolute;top:20px;right: 10px;color:#000;}
.brws-pic-mnu{text-align: center;margin-bottom: 0px;}
.tp-nv-spce a{border:1px solid #a4a4a4;padding-top: 10px !important;padding-bottom: 10px !important;margin-top: 5px !important;margin-right: 5px;border-radius: 4px;}
.tp-nv-spec-fst a{color:#f46c62 !important;}
.tp-nv-spec-lst a{color:#008c50 !important;}
.navbar-frm-src{margin-top: 0px;margin-bottom: 0px;padding:0px;}
.navbar-frm-src input{border-radius: 0px;border: 1px solid #f6f6f6;padding:0 115px 0 21px;background-color: #f6f6f6;}
.frm-src-input{min-height: 50px;}
.browse-category{background-color: #fcfcfc;padding: 15px 0;-webkit-box-shadow: 0px 3px 5px 0px rgba(171,171,171,0.3);
-moz-box-shadow: 0px 3px 5px 0px rgba(171,171,171,0.3);
box-shadow: 0px 3px 5px 0px rgba(171,171,171,0.3)}
.browse-category .alt-text-show{text-transform: uppercase;}
.header-section{padding-bottom: 0px;}
.slider-section{background-color: #f6f6f6;padding: 30px 0;border-top:1px solid #eee;}
.watch-sl-sec{position: relative;}
.watch-caption{position: absolute;bottom: 20px;left: 4%;}
.main-slider{margin-bottom: 10px;}
.main-slider-caption{background-color: rgba(0,0,0,.5);padding:0 15px;left:7%;right: 42%;text-align: left;text-transform: uppercase;}
.main-slider-caption p{color:#ffa800;font-size: 20px;font-weight: 100;}
.main-slider-caption h2{color:#fff;}
.slider-sd-portion{position: relative;margin-bottom: 15px;}
.slider-sd-portion img{width: 100%;}
.sldr-sd-caption{position: absolute;bottom: 0;left: 12px;text-transform: uppercase;}
.sldr-sd-caption h3{color:#fff;}
.sldr-sd-caption p{color:#ffa800;}
.item-carousel-sec{background-color: #fff;}
.item-sector{margin-bottom: 20px;overflow: auto;}
.item-sec-title h1{margin-top: 0px;font-weight: 100;}
.today-item-section{padding-top: 22px;}
.item-sec-view{padding-top: 5px;}
.btn-item-vew{color:#f46c62;}
.btn-item-vew:hover{color:#f46c62;}

.footer-widget-lst li{}
.footer-widget-lst li a{text-decoration: none;font-size: 14px;color:#000;line-height: 28px;}
.accept-sec{margin-bottom: 15px;}
.accept-sec h4{margin-bottom: 20px;}
.footer-social-sec i{font-size: 20px;color:#000;}
.footer-widget-item-sec h4{text-transform: uppercase;}
.footer-widget-sec{border-top: 1px solid #dddddd;border-bottom: 1px solid #dddddd;padding-top: 30px;background-color: #f1f1f1;}
.footer-sec{padding-top: 30px;padding-bottom: 60px;background-color: #fff;}
.login-form-sec{padding-bottom: 0px;}

/*start of  login modal sec */
.citius-modal-content{padding:2% 8%;background-color: #f7f7f7;color:#333;border-radius: 0px;}
.citius-modal-title{text-transform: uppercase;color:#333;font-weight: 100;}
.citius-modal-content a{color:#333;text-decoration: none;}
.btn-custom-login{padding:1% 18%;background-color: #666666;color:#fff;border-radius: 0px;border-color: #666666;}
.btn-custom-login:hover{background-color: #666666;color:#fff;border-color: #666666;}
.btn-custom-login:focus{background-color: #666666;color:#fff;}
.dont-account{padding:10px 0;}
.dont-account li{padding-right: 20%;}
.dont-account li:last-child{padding-right: 0px;}
.citius-modal-header, .citius-modal-body, .citius-modal-footer{padding:15px 25px;border-bottom:none;border-top:none;}
.citius-close{color:#333;}
.citius-modal-header h4:after{display: block;width:100%;height:1px;background-color:#666666;content:"";margin-bottom: 20px;margin-top:10px;}
.forget-password a:after{display: block;width:100%;height:1px;background-color:#666666;content:"";margin-bottom: 0px;margin-top:25px;}
.citis-form-password{position: relative;}
.citis-form-password i{position: absolute;right: 6px;top: 35px;color: #666666;}

/*end of login modal sec */

/*start of breadcumbs-area-sec */
.breadcumbs-area-sec{border-bottom: 1px solid #d6d3d3;margin-bottom: 30px;padding-bottom: 23px;}
.breadcumb{padding-top: 23px;}
.breadcumb .incative{color:#247ab1;text-decoration: none;}
/*start of breadcumbs-area-sec */

.sadow{-webkit-box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3);-moz-box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3);box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3)}



/*start of creat account page*/
.creat-account-sec{padding-bottom: 70px;}
.cr-accnt{background-color: #fff;overflow: auto;padding:30px; margin-bottom:30px;-webkit-box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3);-moz-box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3);box-shadow: 0px 1px 2px 0px rgba(171,171,171,0.3)}

/* skin.css Style*/
.upload-drop-zone {color: #ccc;border-style: dashed;border-color: #ccc;line-height: 100px;text-align: center;border-width: 2px;margin-bottom: 20px;}
.upload-drop-zone.drop {color: #222;border-color: #222;}




/*start of selling account info*/
.account-selling-lstItem-sec h4{text-transform: uppercase;color:#000;}
.account-selling-lstItem-sec{margin-bottom: 20%;}
.account-selling-lstItem li:hover{background-color: #247ab1;color:#fff !important;}
.account-selling-lstItem li a{text-decoration: none;color:#565656;padding:5px 7px;display: block}
.account-selling-lstItem li a:hover{color:#fff;}
.account-selling-title{margin-left: 5px;}
.account-creat-title h2:after{content:"";display: block;width:100%;height: 1px;background-color: #eaeaea;margin-bottom: 50px;margin-top: 25px;}
.ac-inf-social{text-align: left;}
.account-creat-title h2{margin-top: 0px;}

.sdmnu-active a{background-color: #247ab1;color:#fff !important;display: block;}

/*end of selling account info*/




/*start of advertise page*/
.advertise-sec{min-height: 350px;background-color: #F4F4F4;}
.advertise-sec p{text-transform: uppercase;font-size: 40px;padding:20% 0;}
/*end of advertise page*/



/*start of inbox*/
.inbox-tabs .nav-pills li a{border-radius: 0px;}
.inbox-tabs .tab-content{padding:5px;margin-top: 5px;}
/*end of inbox*/


/*start of connecting page*/
.connecting-paragrap{text-align: justify;}
.connecting-step li{line-height: 30px;}
.connecting-paragrap p, .connecting-paragrap h4{line-height: 2}
/*end of connecting page*/




/*start of sell-item page */
.sell-apply{margin-bottom: 20px;}
.sell-item-sector{margin:15px 0;}
.sell-itm-set-title{margin-bottom: 10px;}
.sell-item-con, .sell-item{margin: 12px 0;border: 1px solid #ddd;padding: 15px;overflow: auto;}
.sell-left-pic, .sell-pic{margin: 5px 0 10px 0;border: 1px solid #eee;padding: 8px;text-align: center;margin-right: 12px;}
.dropdown .sellDrop{min-width: 0px;}
.sell-pic-right-se{overflow: auto;}
.checkbox span{background-color: #ff0000;color:#fff;padding: 3px;border-radius: 2px;}


.sell-item-prt{float: left;width: 16%;}
.sell-item-prt-2{width: 84%;}
.sell-left-pic img{margin:0 auto;}
/*start of sell-item page */


/*start of csv item page */
.btn-blkitem{padding:6px 120px;}
.description-title{margin:15px 0;}
.table-csv th{text-align: center;}
/*end of csv item page */


/*start of seller 2 page */
.selling-1st-txt{margin-top:15px;}
/*end of seller 2 page */



/*start of money page */
.money-tabs, .nav-tabs>li>a{border-radius: 0px;}
.money-acc-title{position: relative;}
.money-acc-title a h4{position: absolute;top: 0;right: 0;border: 1px solid #ddd;padding: 8px;color:#565656;}
/*end of money page */




/*start of seller 1 page */
.selling1-butn{margin-bottom: 15px;}
.selling-express img{width: 70%;margin: 0 auto;}
.selling1-looking{margin: 15px 0;}
.selling1-mpTowr img{margin:0 auto;}
.better-other-title h2{text-transform: uppercase;}
.bet-oth-sec img{margin:0 auto;width: 100%;height: 100%;border-radius: 50%;}
.bet-oth-pic{margin:30px 0;}
.better-other{margin:50px 0;}
.bet-oth-sec{margin-bottom: 15px;}
.selling-question-button button{margin:10px 0;}
/*end of seller 1 page */



/*start of money page */
.money-notice{border-top: 0px !important;text-align: justify;}
.money-sec{border:1px solid #ddd;margin-bottom: 20px;}
/*end of money page */



/*start of items auction page */
.schduled-big-title h1{border: 1px solid #ddd;padding: 10px;text-align: center;font-weight: 700;color: #000;background-color: #F1F1F1;margin-bottom: 35px;margin-top: 0px;}
.btn-primary{border-radius: 0px;}
.aution-table{margin: 25px 0;border-top: 2px solid #ddd;border-bottom: 1px solid #ddd;}
/*end of items aucion page */


/*start of dashboard page */
.dash-tt{text-transform: uppercase;background-color: #5ab75d;padding: 5px;color: #fff;border-radius: 4px;}
.dash-item .dash-tp-item-arrw li{position: relative;border: 1px solid #ddd;padding: 8px 10px;margin:15px 0;}
.dash-item .dash-tp-item-arrw li a{text-decoration: none;}
.dash-item .dash-tp-item-arrw li i{position: absolute;top: 25%;right: 2%;font-size: 20px;}
.reputation-table td h4{margin-bottom: 0px;}
.update-box-notification{min-height: 268px;max-height: 268px;border:1px solid #ddd;width: 100%;background-color: #F7F7F7;padding: 10px;}
.update-box-notification-content{padding-top: 20%;}
.raputaiton-table-week{}
/*end of dashboard page */


/* this is for custom css */

/*this is for max width 1500px */
@media only screen and (max-width: 1500px) {

}

/*this is for max width 1350px */
@media only screen and (max-width: 1380px) {

}

@media (max-width: 1200px) {
.action-item-del-sec{min-height: 390px;}


}

@media (max-width: 1024px) {
.action-item-del-sec{min-height: 1024px;}
.cr-card-frm-sec{width:68%;}
.cr-card-frm-sec{margin-left: 0%;}
.bid-model-dialog{width: 600px;}

.sell-item-prt{float: left;width: 20%;}
.sell-item-prt-2{width: 80%;}

}

/*this is for max width 786px */
@media only screen and (max-width: 786px) {
.main-slider-caption{right:35%;}
.navbar-frm-src input{padding:0 27px 0 21px;}
.btn-blkitem{padding:6px 70px;}
.money-acc-title a h4{top: 10px;}
.btn-block{width: auto;}
}



/*this is for max width 667px */
@media only screen and (max-width: 667px) {
.sell-item-prt{float: left;width: 23%;}
.sell-item-prt-2{width: 77%;}
}


/*this is for max width 667px */
@media only screen and (max-width: 667px) {
.sell-item-prt{float: none;width: 100%;}
.sell-item-prt-2{width: 100%;}
}


/*this is for max width 500px */
@media only screen and (max-width: 500px) {
.money-acc-title a h4{top: 60px;left: 0;}
.sell-item-prt{float: none;width: 100% !important;}
.sell-item-prt-2{width: 100% !important;}
}

/*this is for max width 320px */
@media only screen and (max-width: 320px) {
.btn-blkitem{padding:6px 12px;}

}

/*this is for max width 240px */
@media only screen and (max-width: 240px) {

.btn-account-submit{padding:10px 33%;}
}




